<launch>  

    <arg name="master" default="MTML"/>   
    <arg name="slave" default="PSM2"/>   
    <arg name="config" default="$(find dvrk_nri_robot)/config/cmu-dVRK/console-MTML-PSM2_nri_CMU.json"/>
    <arg name="namespace" default="/dvrk/"/>

    <arg name="mtm_model" default="$(find dvrk_model)/model/$(arg master).urdf.xacro"/>
    <arg name="psm_model" default="$(find dvrk_model)/model/$(arg slave).urdf.xacro"/> 
  
    <node name="dvrk_console_node"
        pkg="dvrk_robot"
        type="dvrk_console_json"        
        args="-j $(arg config)"
        output="screen"/>
    <!--
    <node name="dvrk_calibration_node"
        pkg="dvrk_vtk_registration"
        type="daVinciCalibration.py"
        args="-c $(find dvrk_vtk_registration)/defaults/Logitech_c920/singleCam.json"
        output="screen"/>
    -->
    <!-- Rviz -->
    <node name="rviz" 
        pkg="rviz" 
        type="rviz" 
        args="-d $(find dvrk_model)/rviz_config/$(arg master)-$(arg slave).rviz" />    

    <!-- MTM -->
    <group ns="$(arg namespace)$(arg master)">
        <arg name="gui" default="false" />
        <arg name="rate" default="20" />
        
        <param name="robot_description" command="rosrun xacro xacro.py $(arg mtm_model) prefix:=$(arg master)_"/>
        <param name="use_gui" value="$(arg gui)"/>
        <param name="rate" value="$(arg rate)"/>
        
        <rosparam param="source_list" subst_value="True">
            [$(arg namespace)$(arg master)/state_joint_current]
        </rosparam>
        
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />    
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    </group>

    <!-- PSM -->
    <group ns="$(arg namespace)$(arg slave)">
        <arg name="gui" default="false" />
        <arg name="rate" default="20" />

        <param name="robot_description" command="rosrun xacro xacro.py $(arg psm_model) prefix:=$(arg slave)_"/>
        <param name="use_gui" value="$(arg gui)"/>
        <param name="rate" value="$(arg rate)"/>
        
        <rosparam param="source_list" subst_value="True">
            [$(arg namespace)$(arg slave)/state_joint_current]
        </rosparam>
        
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />    
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    </group>

</launch>